{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Backend Lambda function with API Gateway",
  "Resources": {
    "Get": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "Backend.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
		"Role": {
			"Fn::Sub": "${IAM_ROLE_ARN}"
		},
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Events": {
          "PutResource": {
            "Type": "Api",
            "Properties": {
              "Path": "/",
              "Method": "GET"
            }
          }
        }
      }
    }
  }
}
