.navbar-container {
    min-height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.resource-container {
    flex-grow: 1;
    width: auto;
    min-width: auto;
    max-width: 90px;
    background-color: rgb(58, 58, 58);
}

.navbar-resource-label {
    margin: 0;
    padding: 0;
    align-items: auto;
    align-self: center;
    max-height: 12px;
    font-size: 10px;
    -unity-font-style: bold;
    color: rgb(69, 207, 86);
}
